/* General Page Styling */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63%;
}

body {
  font-family: "Source Sans 3", serif;
}

h1 {
  font-size: 1.4rem;
  line-height: 1.08;
}

p {
  font-size: 1.2rem;
}

/* Utility Classes */

.font-roboto {
  font-family: "Roboto", serif;
}

.center-container {
  margin: 0 auto;
}

.mt-1 {
  margin-top: 4rem;
}
.mb-08 {
  margin-bottom: 0.8rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.plr-2 {
  padding: 0 2rem;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "blog"
    "link";
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.text-sm {
  font-size: 1.2rem;
}

.text-m {
  font-size: 1.6rem;
}

.text-lg {
  font-size: 3.2rem;
}

.text-bold {
  font-weight: bold;
}

.mb-1 {
  margin-bottom: 0.3rem;
}

.align__items-center {
  align-items: center;
}

.justify__space-between {
  justify-content: space-between;
}

/* Component BEM classes */

.header {
  height: 42vh;
  grid-area: "header";
}

@media (min-width: 768px) {
  .header {
    height: 50vh;
  }
}

.header__banner {
  padding-top: 0.88rem;
  padding-bottom: 0.88rem;
}

.header__logo-container {
  margin-right: 2rem;
}

.header__list-item {
  font-weight: bold;
  margin-left: 1rem;
}

.header__hero {
  background-image: url("./images/article-image-hero.png");
  height: 100%;
  background-size: cover;
  background-position: top;
  position: relative;
  color: white;
}

.header__title-container {
  position: absolute;
  bottom: 2rem;
}

@media (min-width: 768px) {
  .header__title-container {
    max-width: 70%;
  }
}

.header__date {
  margin-bottom: 0.8rem;
  display: block;
  text-transform: uppercase;
}

.header__title {
  line-height: 1.08;
}

.blog {
  padding-top: 5rem;
  grid-area: "blog";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 4rem 0;
}

.blog > .blog__article-container:nth-child(n + 4) {
  display: none;
}

@media (min-width: 768px) {
  .blog {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 2rem;
  }

  .blog > .blog__article-container:nth-child(n + 4) {
    display: block;
  }
}

.blog__article-container {
}

.blog__image {
  width: 100%;
  object-fit: contain;
}

.blog__date {
  font-size: 1.4rem;
  display: block;
  text-transform: uppercase;
}

.blog__title {
  font-size: 2.4rem;
}

.blog__para {
  line-height: 1.25;
}

.view-more-link {
  grid-area: "link";
  margin: 2.7rem 0;
  text-align: center;
}

.view-more-link__link {
  color: black;
}

.footer {
  background-color: #202020;
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
  color: white;
  text-align: center;
}

.footer__para {
  font-weight: bold;
}

/* Single Post Page */
.single-post__para {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .single-post__para {
    font-size: 1.6rem;
  }
}

.single-post__image {
  width: 100%;
}

@media (min-width: 768px) {
  .single-post__image {
    padding: 0;
  }
}

.single-post__h2 {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .single-post__h2 {
    font-size: 2.4rem;
  }
}

.recents__h2 {
  text-align: center;
  font-size: 1.6rem;
}

.recents__articles {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .recents__articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.about__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__heading-image {
  width: 182px;
}
